.terms{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    width: 90%;
    top: 100px;
    margin: auto;
    padding: 60px 60px;
    background-size: cover;
    //box-shadow: 12px 30px 25px -5px #000;
    border: 2px solid;
    border-color: gray;
    & .active {
        border-bottom: 2px solid #3DACF1;
    }
    & h2 {
        padding-left: 12px;
        font-size: 18px;
        margin: 0 auto;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        padding-bottom: 5px;
        letter-spacing: 2px;
        display: inline-block;
        font-weight: 100;
    }
    & .privacy_content{
        position: relative;
        margin-top: 100px;
    }
    & h3 {
        margin-bottom: 25px;
        padding: 14px 20px;
        border-left: 10px solid #3DACF1;
        background: #eee;
    }
    & ol{
        padding-inline-start: 0;
        margin-left: 20px;
    }
    & .maru-num li {
        list-style-type: none;

    }
}
.error{
  position: absolute;
  text-align: center;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 15px;
}
@media (min-width:480px){
  .terms{
      & h2{
          font-size: 23px;
      }
  }
}
@media (min-width:600px){
  .terms{
      width: 60%;
      & h2{
          font-size: 25px;
      }
  }
}
@media (min-width: 960px) {
  .terms{
      & h2{
          font-size: 30px;
      }
  }
}
@media (min-width: 1280px) {
  .terms{
      & h2{
          font-size: 33px;
      }
  }
}
