{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block  css %}
<link rel="stylesheet" href="{% static 'user/styles/signup.css' %}" >

{% endblock %}

{% block title %}
EA libraries 会員登録
{% endblock title %}

{% block content %}
<div class="login">
  <h2 class="active"> 会員登録 </h2>
    <form action="" method="POST" >

        {% csrf_token %}
        <!-- {% if error %} -->
        <div class="error">
        <strong>{{error}}</strong>
      </div>
        <!-- {% endif %} -->
 
            <input class = "text" type="email" name="email" id="id_email" required maxlength="30">
            <span>メールアドレス</span>
            <br>
            
            <input  class = "text" pattern="^[0-9A-Za-z]+$" type="password" name="password" id="id_password" required maxlength="50" minlength="8">
            <span>パスワード</span>
            <input  class = 'check' type="checkbox" id="password-check" />
            <label for="password-check">パスワードを表示する</label>
            <br>
            <br>
            <br>

            <br>
            <br>
            <div class="check-terms">
              <input  type="checkbox" id="terms" required />
              <label for="terms"><a class ="aforterms" href="{% url 'terms_of_service' %}">利用規約</a>に同意する</label>

            </div>
           


            <input type="submit" class="signin" value="登録">

      <hr>

    </form>
    <br>
    <br>
    <br>
</div>





{% endblock content %}


{% block javascript %}
<script src="{% static 'user/scripts/password.js' %}" ></script>

{% endblock javascript %}