{% extends 'base.html' %}
{% load static %}


{% block  css %}
<meta name=”robots” content=”noindex” />
<link rel="stylesheet" href="{% static 'other/others.css' %}" >

{% endblock %}

{% block title %}
利用規約
{% endblock title %}

{% block content %}
<div class="terms">
    <h2 class="active">利用規約</h2>

    <div class="privacy_content">
    <h3>はじめに</h3>
        <div class="terms-container">
        <p>EA-librariesのプラットフォーム、およびその一部として提供しているプロダクト、サービス、機能（以下「本サービス」）をご利用いただきありがとうございます。<br />
            このEA-Libraries利用規約（以下「本規約」）では、株式会社Media Beats（以下「当社」）が運営・提供する本サービスを利用するにあたり、会員が遵守するべき事項を定めることを目的としています。</p>
        </div>
    <h3>第１条（定義）</h3>
    <div class="terms-container">
        <ol>
            <li>本規約に同意のうえ所定の登録手続きを完了すると、お客様と当社との間で本規約の定めを内容とする契約（以下「本契約」といいます。）が成立し、会員としての資格を得ることができます。会員登録手続きは、会員となるご本人が行ってください。本条に基づいて会員資格を得たお客様のことを、以下「会員」といいます。</li>
            <li>｢本サイト｣とは、ea-libraries.comを指します。</li>
        </ol>
    </div>
    <h3>第２条（規約の適用範囲）</h3>
    <div class="terms-container">
        <p>本規約の適用範囲を以下のように定めます。<br />
        <ol>
            <li>本サービスの利用に関して当社と会員との間に関する一切の関係に適用します。</li>
            <li>当社は会員への事前の通知なく、本サービスの内容及び本規約を変更できるものとします。</li>
        </ol>
    </div>
    <h3>第３条（サービスの内容）</h3>
    <div class="terms-container">
    </div>
    <h3>第４条（会員資格）</h3>
    <div class="terms-container">
        <p>以下のいずれかの項目に該当する場合、入会を承諾しないことがあります｡また、承諾後であっても会員が次の各号のいずれかに該当すると判断した場合、当社は会員資格を一時停止又は取り消すことができるものとします。なお、会員資格の一時停止又は取消しによって、当社及び第三者に損害が発生した場合は、当該会員がその損害全額を賠償するものとします｡場合によっては法的処置により処理を行うものとします。<br />
        <ol class="maru-num">
            <li>①実在しない者｡</li>
            <li>②18歳未満の者｡</li>
            <li>③登録内容に虚偽、誤記、記入漏れ、又は入力ミス等がある者｡</li>
            <li>④他人又は架空の個人情報を使って入会申込を行う者｡</li>
            <li>⑤暴力団、暴力団員、暴力団関係者、及び反社会的勢力の構成員及び団体関係者に該当する者。</li>
            <li>⑥入会申込時点で本規約違反等により会員資格の停止処分中であり、又は過去に本規約違反等で会員資格の取消処分を受けたことがある者｡</li>
            <li>⑦その他、当社が不適当と判断する者｡</li>
        </ol>
    </div>
    <h3>第５条（登録情報の変更）</h3>
    <div class="terms-container">
        <p>会員として登録した情報（以下「登録情報」）に変更が生じた場合は、速やかに登録情報の変更をお願いいたします。登録情報の変更がなされなかったことにより会員に生じた損害について、当社は、当社の責めに帰すべき事由がある場合を除き、責任を負わないものとします。</p>
    </div>
    <h3>第６条（会員情報）</h3>
    <div class="terms-container">
        <p>当社は、本サービスの利用に関して取得した会員の個人情報を、以下に従って適切に取り扱います。<br />
        <ol>
            <li>本サービスにて当社が得た会員情報は当社が所有するものとし、以下のためにのみ利用するものとします。</li>
            <ol class="maru-num">
                <li>①会員の本人確認及び各種連絡事項等本サービスの提供のため。</li>
                <li>②当社の業務遂行及び当社のサービス向上の目的のため。</li>
                <li>③当社の提供するサービスや他サービスに関する情報等の案内や広告のため</li>
            </ol>
            <li>当社が得た会員情報を本人の同意を得ずに第三者に開示することは行わないものとします。但し、当社が次の各号のいずれかに該当すると判断し、個人情報の開示又は提供が相当と認められる場合はこの限りではありません｡</li>
            <ol class="maru-num">
                <li>①法令に基づく場合</li>
                <li>②裁判所、検察官、警察、弁護士会、消費者センター又はこれに準じた権限を有する機関から、正当な理由において会員情報についての開示が求められた場合</li>
                <li>③会員、公衆の生命、身体又は財産の保護のために個人情報を提供することが適当であると認められる場合</li>
                <li>④当社が前項の利用目的達成に必要な範囲内において個人情報の取扱の全部又は一部を委託業者に委託する場合</li>
                <li>⑤合弁その他の事由による事業の承継に伴って個人情報の継承が必要になった場合</li>
                <li>⑥その他社会通念上、個人情報の開示又は提供が相当と認められる場合</li>
            </ol>
        </ol>
    </div>
    <h3>第７条（会員の禁止行為）</h3>
    <div class="terms-container">
        <ol>
            <li>本サービスの利用に際して、会員は以下の各号に定める行為またはそのおそれのある行為を行ってはならないものとします。いかの行為に該当すると当社が判断した場合は、当社は、当該会員の会員資格を一時停止又は取消しすることができるものとします｡なお、会員資格の一時停止又は取消しによって、当社及び第三者に損害が発生した場合は、当該会員がその損害全額を賠償するものとします｡場合によっては法的処置により処理を行うものとします。</li>
            <ol class="maru-num">
                <li>①法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為</li>
                <li>②公の秩序または善良の風俗を害する行為</li>
                <li>③反社会的勢力に対する利益供与その他の協力行為</li>
                <li>④当社または第三者の権利、利益、名誉等を侵害する行為</li>
                <li>⑤第三者になりすます行為または意図的に虚偽の情報を送信する行為</li>
                <li>⑥第三者の個人情報その他のプライバシーに関する情報を不正に収集、開示、または提供する行為</li>
                <li>⑦不正アクセス行為、第三者のアカウントを利用する行為、複数のアカウントを作成しまたは保有する行為、その他これらに類する行為</li>
                <li>⑧本サービスの誤作動を誘引する行為</li>
                <li>⑨本サービスが通常意図しないバグを利用する動作を生じさせ、または、通常意図しない効果を及ぼす外部ツールの利用、作成、または頒布を行う行為</li>
                <li>⑩本サービスまたは当社のサーバーに過度の負担をかける行為</li>
                <li>⑪コンピュータウイルス等の有害なプログラムを当社または第三者に送信し、または流布する行為</li>
                <li>⑫ダウンロードしたEAを第三者に利用させる行為。</li>
                <li>⑬ダウンロードしたEAのデコンパイル行為等によりプログラムソースを読み取る行為。</li>
                <li>⑭ダウンロードしたEAを利用してシグナル配信やそれに準ずる行為。</li>
                <li>⑮ダウンロードしたEAを利用してコピートレードを行う行為。</li>
                <li>⑯本規約に違反し、または、本サービスの趣旨目的に反する行為</li>
                <li>⑰本サイト以外で開設したFX口座にて本サイトのEAを利用する行為。</li>
                <li>⑱上記各号のいずれかに該当する行為(当該行為を第三者が行っている場合を含みます)を第三者に指示、指導、及び助長する行為。</li>
                <li>⑲本サービスに関連して知り得た当社の技術上、営業上、業務上等の情報を、第三者に漏洩する行為（但し、本サイトへの情報掲載等によって既知となっている情報は除く）。</li>
                <li>⑳その他、当社が合理的に不適切と判断する行為</li>
            </ol>
            <li>会員は、会員の資格および本契約の地位等の一切の権利および義務を第三者に譲渡、貸与、売却、担保差入およびその他の処分をしてはならないものとします。</li>
        </ol>
    </div>
    <h3>第８条（免責）</h3>
    <div class="terms-container">
        <ol>
            <li>当社は、本サービスの利用により発生した会員の損害に対し、当社の責めに帰すべき事由がある場合を除き、いかなる責任も負わないものとし、当該損害の賠償をする義務もないものとします｡</li>
            <li>本サイト内で掲載する情報や過去の実績は必ずしも将来の結果を示すものでは無く、当社はそれらについていかなる保証も行わないものとします。</li>
            <li>当社は、会員が本サービスの利用によって他の会員や第三者に対して損害を与えた場合、当該会員に対して相応の損害賠償の請求を行うことができるものとします｡</li>
            <li>当社が会員の登録した登録情報を削除し、会員資格を停止、抹消し、本サービスを停止、中断、中止等したことにつき、当社は、事由の如何を問わず一切の損害賠償義務を負わないものとします｡</li>
            <li>当社提携会社が経営破綻した場合、当社は、会員が本サイトからダウンロードしたEAの利用権利を消失できるものとします。</li>
            <li>当社は、会員が利用できるサービスに関する内容の真偽、正確性、最新性、有用性、信頼性、適法性、および第三者の権利の不侵害について、本規約においていかなる保証も行わないものとします。</li>
            <li>当社は、会員が本サイトからダウンロードしたEAに関し、取引結果における損失やその他損害全てについて、原因の如何に関わらず一切の責任を負わないものとします。</li>
            <li>パスワードの管理の不備、使用上の過誤、第三者の使用による侵害及び責任は、会員が負担するものとします。当社は当社の責めに帰すべき事由がある場合を除き、それにより生じた損害について責任を負わないものとします。</li>
        </ol>
    </div>
    <h3>第９条（会員の退会および本契約の終了）</h3>
    <div class="terms-container">
        <ol>
            <li>会員は、当社所定の退会手続きにより、いつでも本契約を終了させることができます。また、会員が、会員資格の取消等により会員資格を喪失したときは、本契約は会員資格の喪失時をもって終了するものとします。</li>
            <li>前項退会手続きにより、または、事由のいかんを問わず本契約が終了した場合、会員は、当社が会員に対して提供する一切のサービスについて、即時に利用できなくなります。当該時点において会員の権利は全て消滅し、当社の責めに帰すべき事由がある場合を除き、会員は、当社に対して何らの請求を行えません。ただし、本契約終了以前において会員が当社に対して債務を負っていた場合、当該債務は消滅せず、会員は、当社に対して本契約終了後ただちに全ての当該債務について弁済しなければならないものとします。</li>
            <li>会員は、退会手続きを行った場合、前項ついてあらかじめ承諾するものとし、手続きを終了する前に、注意事項等確認のうえで退会するものとします。</li>
        </ol>
    </div>
    <h3>第１０条（損害賠償）</h3>
    <div class="terms-container">
        <ol>
            <li>会員が本サービスの利用によって当社提携会社及び他の会員や第三者に対して損害を与えた場合、会員は自己の責任と費用をもって解決し、当社に損害を与えることがないものとします｡</li>
            <li>会員が本規約に反した行為、又は不正若しくは違法な行為によって、当社及び当社提携会社に損害を与えた場合、当社は、当該会員に対して当該損害賠償の請求を行なうことができるものとします｡</li>
        </ol>
    </div>
    <h3>第１１条（準拠法・合意管轄）</h3>
    <div class="terms-container">
        <p>本規約は日本法に基づき解釈されるものとし、本規約に関し訴訟の必要が生じた場合には、東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所といたします。</p>
    </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<!-- <script src="{% static 'ea/scripts/change_page.js' %}" ></script> -->

{% endblock javascript %}



